<div class="background">

</div>
<div class="gradient">
</div>

<div class="header">
  <div class="container">

  </div>
  <div class="logo-container">
    <div class="logo-bg">
      <div class="logo text-center">
        <img src="../assets/logo.svg" alt="">
      </div>
    </div>
  </div>
  <div class="sentiment">

  </div>
</div>

<div class="container">
  <div class="row headline">
    <div class="col">
      <div class="d-flex flex-column text-center">
        <h1>Cryptocurrency Trading Portal</h1>
        <h3 class="text-capitalize">THE MARKET IS YOUR PLAYGROUND</h3>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h3>Education</h3>
        </div>
        <div class="divider"></div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr
          </p>
        </div>
        <div class="divider"></div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div><a href="#">aluna.blogspot.com</a></div>
          <div class="btn btn-primary">Visit</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h3>Discussion</h3>
        </div>
        <div class="divider"></div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr
          </p>
        </div>
        <div class="divider"></div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div><a href="#">aluna.blogspot.com</a></div>
          <div class="btn btn-primary">Visit</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h3>Trading Signals</h3>
        </div>
        <div class="divider"></div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr
          </p>
        </div>
        <div class="divider"></div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div><a href="#">aluna.blogspot.com</a></div>
          <div class="btn btn-primary">Visit</div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h3>Trading Execution</h3>
        </div>
        <div class="divider"></div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
            duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr
          </p>
        </div>
        <div class="divider"></div>
        <div class="card-footer d-flex justify-content-between align-items-center">
          <div><a href="#">aluna.blogspot.com</a></div>
          <div class="btn btn-primary">Visit</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 d-flex align-items-center">
          <form action="">
            <div class="form-inline">
              <div class="form-group">
                <label for="newsletter">Newsletter</label>
                <input type="text" class="form-control" id="newsletter" placeholder="E-Mail Address">
                <input type="button" class="btn signup" value="Sign Up!">
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="d-flex flex-row-reverse icon-row">
            <div class="social-icon">
              <i class="fa fa-facebook"></i>
            </div>
            <div class="social-icon">
              <i class="fa fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
