h1, h2, h3, h4, h5, h6, .btn, label, a {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}

div, span, p {
  font-family: 'Open Sans Condensed', sans-serif;
}

a{
  color: #d0d6dc;
}

.background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url('../assets/bg.png') no-repeat;
  background-size: cover;
  z-index: -2;
}

.gradient {
  opacity: 0.749;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(60, 58, 79);
  background: -moz-linear-gradient(left, rgba(60, 58, 79, 1) 0%, rgba(92, 46, 64, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(60, 58, 79, 1) 0%, rgba(92, 46, 64, 1) 100%);
  background: linear-gradient(to right, rgba(60, 58, 79, 1) 0%, rgba(92, 46, 64, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3a4f', endColorstr='#5c2e40', GradientType=1);
  z-index: -1;
}

.header {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.logo-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.logo {
  z-index: 3;
}

.logo img{
  width: 90%;
}

.logo-bg {
  position: absolute;
  border-radius: 50%;
  opacity: 0.749;
  padding: 20px;
  background-color: #5c2e40;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s box-shadow ease-out;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.45);
}

.logo-bg:hover {
  transition: 0.4s box-shadow ease-out;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.45);
}

.row > div {
  padding: 15px;
}

.card {
  border-radius: 01rem;
  background: rgba(195, 195, 195, 0.45);
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
}

.card, .card-body, .card-header, .card-footer {
  border: none;
  color: white;
}

.card-footer, .card-header {
  background: transparent;
}

.card-body {
  line-height: 1.25;
}

.card-header:first-child {
  border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
  border-top-left-radius: calc(01rem - 1px);
  border-top-right-radius: calc(01rem - 1px);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-footer:last-child {
  border-radius: 0 0 calc(1rem - 1px) calc(1rem - 1px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: calc(01rem - 1px);
  border-bottom-left-radius: calc(01rem - 1px);
}

.divider {
  width: calc(100% - 30px);
  height: 2px;
  margin: 0 15px;
  background: rgba(171, 171, 171, 0.25);
}

.footer .container .card-header {
  background-color: #2d2837;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.5);
  padding-top: 0;
  padding-bottom: 0;
}

.footer label, .footer input {
  margin-right: 15px;
}

.form-control {
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: .75rem;
}

.btn.signup {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 108px;
  height: 37px;
}

#newsletter {
  min-width: 200px;
}

.btn.btn-primary {
  border-radius: 8px;
  background-color: rgb(38, 29, 53);
  border-top-color: rgb(38, 29, 53);
  border-right-color: rgb(38, 29, 53);
  border-bottom-color: rgb(38, 29, 53);
  border-left-color: rgb(38, 29, 53);
  width: 129px;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5c2e40;
  border-color: #4f2737;
  box-shadow: 0 0 0 0.2rem rgba(44, 11, 21, 0.5);
}

.icon-row {
  height: 100%;
  width: 100%;
  align-items: center;
}

.icon-row .social-icon {
  font-size: 2rem;
  margin: 0 20px;
}

.btn, .social-icon {
  cursor: pointer;
}
